registry=https://registry.npmjs.org/
@emreunes:registry=https://registry.npmjs.org/
public-hoist-pattern[]=*@medusajs/*
public-hoist-pattern[]=@tanstack/react-query
public-hoist-pattern[]=react-i18next
public-hoist-pattern[]=react-router-dom
